com.github.eclipse.projectlocationupdater.updatesite/artifacts.jar
com.github.eclipse.projectlocationupdater.updatesite/content.jar
com.github.eclipse.projectlocationupdater.updatesite/features/
com.github.eclipse.projectlocationupdater.updatesite/index.html
com.github.eclipse.projectlocationupdater.updatesite/plugins/
com.github.eclipse.projectlocationupdater.updatesite/web/
com.github.eclipse.projectlocationupdater/bin/
workspace/
