<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.propertyPages">
      <page objectClass="org.eclipse.core.resources.IResource"
      		adaptable="true"
      		name="Resource Location Updater"
            class="com.github.eclipse.projectlocationupdater.properties.ProjectLocationUpdaterPropertyPage"
            id="com.github.eclipse.projectlocationupdater.properties.projectLocationUpdaterPropertyPage">
      </page>
   </extension>
</plugin>
