<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.propertyPages">
      <page objectClass="org.eclipse.core.resources.IResource"
      		adaptable="true"
      		name="Project Location Updater"
            class="com.github.eclipse.projectlocationupdater.properties.ProjectLocationUpdaterPropertyPage"
            id="com.github.eclipse.projectlocationupdater.properties.projectLocationUpdaterPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.github.eclipse.projectlocationupdater.batchUpdate"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.github.eclipse.projectlocationupdater.actions.BatchUpdateAction"
               enablesFor="*"
               id="com.github.eclipse.projectlocationupdater.updateLocations"
               label="Update Locations"
               menubarPath="additions"
               tooltip="Change project(s) location">
         </action>
      </objectContribution>
   </extension>
</plugin>
